body {
  margin: 0;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-calendar {
  border: none;
  width: 100%;
  font-family: sans-serif;
}

.highlight {
  background: #ff4d6d !important;
  color: white !important;
  border-radius: 50%;
}